<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Movie Recommendation System</h1>
     <form method="POST">
            <select name="movie" required>
                <option value="" disabled selected>Please select a movie</option>
                {% for name in movie_names %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select><br>
            <button type="submit">Recommend</button>
        </form>

    {% if combined %}
  <div class="movie-container">
    {% for name, poster in combined %}
      <div class="movie">
        <img src="{{ poster }}" alt="{{ name }}">
        <div class="movie-title">{{ name }}</div>
      </div>
    {% endfor %}
  </div>
{% endif %}

</body>
</html>
