<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h1>🎬 Movie Recommendation System</h1>
        <form method="POST">
            <input list="movies" name="movie" placeholder="Type to search..." required>
          <datalist id="movies">
              {% for name in movie_names %}
               <option value="{{ name }}">
               {% endfor %}
          </datalist>

            <br>
            <button type="submit">Recommend</button>
        </form>
    </div>

    {% if combined %}
    <div class="movie-container">
        {% for name, poster, trailer in combined %}
        <div class="movie">
            <img src="{{ poster }}" alt="{{ name }}">
            <div class="movie-info">
                <div class="movie-title">{{ name }}</div>
                <a href="{{ trailer }}" target="_blank" class="trailer-btn">🎥 Watch Trailer</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>
